
{{ $url := $.Site.BaseURL }}
{{ $image := .Params.image | urlize }}
{{ $date := .Date.Format "Mon Jan 02, 2006" }}
{{ $title := .Title }}
{{ $categories := .Params.categories}}
{{ $media := .Params.media }}
{{ $size := .Params.size }}
<!-- TODO: Figure out why line height causes issues here -->
<div class="flex-item flex-item-spacing no-line-height">
    <div class="relative rounded-corners z-depth-1 lazyload" data-noscript="">
        <noscript>
            <a href="{{ $url }}{{ $image }}" data-lightbox="gallery" data-title="{{ $title }} {{ $categories }} {{ $media }} {{ $size }}">
                <img src="{{ $url }}{{ $image }}"
                     class="fill-container-width rounded-corners z-depth-1" />
                <div class="highlight-block rounded-corners">
                    <h5 class="white-text">{{ $title }}</h5>
                </div>
            </a>
        </noscript>
    </div>
</div>
