<!-- Load jquery used for various plugins -->
<script   src="https://code.jquery.com/jquery-2.1.4.min.js"
  integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
  crossorigin="anonymous">
</script>
<!-- Load materialize used to provide parts of theme visuals -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<!-- Load imagesloaded needed by masonry to handle adding images -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<!-- Load masonry used for layout on list pages -->
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<!-- Load lightbox used for gallery viewing -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/js/lightbox.min.js"></script>
<!-- Load infinite scroll used to link together paginated content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.1.0/jquery.infinitescroll.min.js"></script>
<!-- Load theme-specific Javascript -->
<script src="{{ .Site.BaseURL }}js/main.js"></script>
